body {
  font-family: 'Pretendard', 'Noto Sans KR', sans-serif;
}

input.form-control {
  border-radius: 1rem;
  padding: 0.8rem 1rem;
  font-size: 1.1rem;
}

.btn {
  font-size: 1.1rem;
  border-radius: 1rem;
}

.swal2-popup {
  font-family: 'Pretendard', sans-serif !important;
}